@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red {
  border: 1px solid red;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.exo {
  font-family: 'Young Serif', serif;
  word-spacing: 1%;
}

label {
  position: absolute;
  top: 13px;
  left: 18px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox .input:focus ~ label,
.center .inputbox .input:valid ~ label {
  transform: translateX(-13px) translateY(-40px);
  font-size: 1em;
}

.loader {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}

.loader:after{
  content:"";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid ;
  border-color: #ff3d00 transparent;
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg) ;
  }
  100% {
    transform:  translateX(150%) rotate(360deg);
  }
}

.ql-container.ql-snow {
  border: none;
  height: 250px;
  overflow-y: scroll;
  font-size: medium;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}