@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red {
  border: 1px solid red;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.exo {
  font-family: 'Young Serif', serif;
  word-spacing: 1%;
}

label {
  position: absolute;
  top: 13px;
  left: 18px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox .input:focus ~ label,
.center .inputbox .input:valid ~ label {
  transform: translateX(-13px) translateY(-40px);
  font-size: 1em;
}

.loader {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}

.loader:after{
  content:"";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid ;
  border-color: #ff3d00 transparent;
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg) ;
  }
  100% {
    transform:  translateX(150%) rotate(360deg);
  }
}

.ql-container.ql-snow {
  border: none;
  height: 250px;
  overflow-y: scroll;
  font-size: medium;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.cube-folding {
	width: 50px;
	height: 50px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	font-size: 0;
}
.cube-folding span {
	position: relative;
	width: 25px;
	height: 25px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	display: inline-block;
}
.cube-folding span::before {
	content: "";
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 25px;
	height: 25px;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: folding 2.5s infinite linear both;
	-moz-animation: folding 2.5s infinite linear both;
	animation: folding 2.5s infinite linear both;
}
.cube-folding .leaf2 {
	-webkit-transform: rotateZ(90deg) scale(1.1);
	-moz-transform: rotateZ(90deg) scale(1.1);
	transform: rotateZ(90deg) scale(1.1);
}
.cube-folding .leaf2::before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	background-color: #f2f2f2;
}
.cube-folding .leaf3 {
	-webkit-transform: rotateZ(270deg) scale(1.1);
	-moz-transform: rotateZ(270deg) scale(1.1);
	transform: rotateZ(270deg) scale(1.1);
}
.cube-folding .leaf3::before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	background-color: #f2f2f2;
}
.cube-folding .leaf4 {
	-webkit-transform: rotateZ(180deg) scale(1.1);
	-moz-transform: rotateZ(180deg) scale(1.1);
	transform: rotateZ(180deg) scale(1.1);
}
.cube-folding .leaf4::before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	background-color: black;
}

@-webkit-keyframes folding {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		-moz-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		-moz-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		-moz-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
}
@-moz-keyframes folding {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		-moz-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		-moz-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		-moz-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
}
@-ms-keyframes folding {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		-moz-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		-moz-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		-moz-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
}
@keyframes folding {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		-moz-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		-moz-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		-moz-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
}
